services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: passport_user
      POSTGRES_PASSWORD: passport_password
      POSTGRES_DB: passport_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: